.Skills {
color: deepskyblue;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 30px;
text-align: center;








}
.Skills h1{
text-decoration:underline;
text-emphasis: inherit;
text-wrap: inherit;
}
body{
background-color: black;


}
.Skills p{
   justify-content: center;
font-family: cursive;

}
footer{
    display:flex;
justify-content: center;
}