*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serif;



}  
body{

    background: rgb(25, 30, 99);
    color:rgb(7, 248, 240)
}
header{
   position :fixed;
   top:0;
   left:0;
   width:100%;
   padding:20px 10%;

background: transparent;
display:flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
.logo{
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: solid;
    font-weight: 600;
    font-family: cursive;



}
.navbar a{
  font-size: 17px;
  color: dodgerblue;
font-weight: 500;
font-style: italic;




}
.navbar a:hover,
 .navbar a.freeze{ 

     color: whitesmoke;
     



    }



.Home{ 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
    padding: 0 10%; 
    background: url("mabulala.jpg") no-repeat;
    background-size: 50%;
    background-position: 100% center;
}

.home-content{
 max-width: 600px;

}

.Home h1{
   font-size: 150px;
   font-weight: 700;
   flex-direction:column;
   line-height: 1.2;
   font-family:Georgia, 'Times New Roman', Times, serif;
   


}
.Home h3{
font-size: 30px;
font-weight: 500;
color: dodgerblue;
flex-direction: column;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
align-items: center;


}
.Home p{
    font-family: cursive;
    font-size: 26px;
    color: aliceblue;
    align-items:center;

}
.Home-Sci{
    position: fixed;
    bottom:0%;
    left:0;
    width: 100;
    text-align: center;
    padding: 10px;











}
.btn-box{
   
   max-width: 345px  ;
   height: 50px;
   justify-content: space-between;
   display: flex;





}
.btn-box a{width: 150px;
    height:100%;
    background:transparent;
    color: aqua;
    border: 2px dotted yellow;
border-radius:8px ;
display: inline-flex;
letter-spacing: 1px;
justify-content: center;
align-items: center;

}
.btn-box a:nth-child(2){
    background: transparent;
    color: aqua;



}
.Degree h1{
    color: rgb(239, 41, 6);
    font-size: 50px;
    font-family:cursive;
    justify-content: center;
    text-align: center;
    flex: content;
    font-style: oblique;
    text-decoration: underline;
margin-top: 10%;




}
.Degree h2{
 font-size: 75px;
 font-family:monospace;
 Justify-content: center;
    text-align: center;
    flex: content;
    font-style: oblique;
    border: 3px dotted yellow;
    border-radius: 5%;
    display:grid





}
.Degree h3{
        font-size: 50px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}
.Degree ul{
font-size: 75px;
text-indent: 30%;
list-style-type: disc;
position:relative;
font-family:'Times New Roman', Times, serif;

}

.Aboutme h1{
    color: azure;
    font-size: 70px;
    font-style: italic ;
text-decoration:underline;

}
.Aboutme p{
 color: deepskyblue;
 justify-content: first baseline;
 text-justify:distribute-all-lines;
 text-align:center;
 font-size: 20px;


}
footer{
    justify-content: center;
    display: flex;
    
}
.arrow{
display:inline-block;
flex-direction:column;
justify-content: space-between;


}
